@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1800px
************/

@media only screen and (max-width: 1800px)
{
	.header_social
	{
		display: none !important;
	}
}

/************
2. 1480px
************/

@media only screen and (max-width: 1480px)
{
	.home_page_nav
	{
		right: 60px;
	}
	.test_nav
	{
		display: none;
	}
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.main_nav
	{
		margin-left: 150px;
	}
	.header_phone
	{
		margin-right: 0;
	}
	.travello
	{
		margin-top: 90px;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.main_nav,
	.header_phone
	{
		display: none;
	}
	.hamburger
	{
		display: block;
	}
	.home_page_nav
	{
		position: absolute;
		right: 40px;
		top: auto;
		bottom: 40px;
	}
	.home_page_nav ul li:not(:last-child)
	{
		margin-bottom: 25px;
	}
	.home_slider_content_container
	{
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.home_title h2
	{
		font-size: 72px;
	}
	.home_search
	{
		height: auto;
	}
	.home_search_container
	{
		position: relative;
		top: auto;
		width: 100%;
		left: auto;
	}
	.home_search_content
	{
		padding-left: 0;
		padding-right: 0;
	}
	.search_input
	{
		width: 100%;
		margin-bottom: 12px;
	}
	.home_search_button
	{
		width: 100%;
		margin-top: 10px;
	}
	.intro_background
	{
		display: none;
	}
	.intro_container
	{
		border-top: solid 2px #e4e6e8;
		padding-top: 121px;
	}
	.intro_col:not(:last-child)
	{
		margin-bottom: 50px;
	}
	.destination
	{
		width: calc(100% / 2);
	}
	.testimonial
	{
		font-size: 24px;
	}
	.footer_contact_col:not(:last-child)
	{
		margin-bottom: 60px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	
}

/************
10. 767px
************/

