{% extends 'conceptio/base.html' %}

{% load staticfiles %}

{% block body_block %}

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-"

    </head>



    
 <center>
    
    <div class="container mt-4">
        <h1>Concept Categories</h1>
            <div class="row mt-3 mb-3">
                
                                
                                {% for c in categories %}
                                <div class="col-md-3">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="card-text">
                                                <a class="cat-font" href="{% url 'conceptio:view_projects_by_category' c.name %}">{{ c.name }}</strong></li></a><br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                
                              
            </div>
        </div>
    </div>

 </center>
    


{% endblock %}