
{% extends 'conceptio/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Concept.io
{% endblock %}

{% block body_block %}
    <h1>Featured</h1>
    <div>



        {% if featured %}

            <ul>
                {% for project in featured %}
                    <li><a href="{% url 'conceptio:view_project_by_id' project.project_id %}">{{ project.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There is no featured projects present.</strong>
        {% endif %}
    </div>
    <h2>Popular Additions</h2>
    <div>
        {% if popular_projects %}
            <ul>
                {% for project in popular_projects %}
                    <li><a href="{% url 'conceptio:view_project_by_id' project.project_id %}">{{ project.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no popular projects present.</strong>
        {% endif %}
    </div>
    <h2>New Additions</h2>
    <div>
        {% if new %}
            <ul>
                {% for project in new %}
                    <li><a href="{% url 'conceptio:view_project_by_id' project.project_id %}">{{ project.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no new additions present.</strong>
        {% endif %}
    </div>

{% endblock %}