{% extends 'conceptio/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Concept.io
{% endblock %}

{% block body_block %}

  <center>
    <div class="container mt-4" >
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                    <h2>Featured</h2>
                        <p class="card-text">
                            <ul class="list-group">
                            {% if featured %}
                            <p>
                            {% for project in featured %}
                                <div class="card mb-3" style="max-width: 540px;">
                                    <div class="row g-0">
                                    <div class="col-md-4">
                                        {%if popular_project_images|get_item:project %}
                                            {% for img in popular_project_images|get_item:project  %}
                                                <img class="img-fluid rounded-start"  src="{{ MEDIA_URL }}{{ img.image}}" alt="Card image"/>
                                            
                                            {% endfor%}
                                        {% else %}
                                        <img src="..." class="img-fluid rounded-start" alt="...">
                                        {%endif%}
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                
                                                <a class="item" href="{% url 'conceptio:view_project_by_id' project.project_id %}">{{ project.title }}</a>
                                                
                                            </h5>
                                        
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </p>

                            {% else %}
                                <strong>There is no featured projects present.</strong>
                            {% endif %}
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class ="card-body">
                        <h2>Popular Additions</h2>
                        <div class="col">
                            {% if popular_projects %}
                                <p>
                                    {% for project in popular_projects %}
                                        <!-- <li class ="list-group-item"><a href="{% url 'conceptio:view_project_by_id' project.project_id %}">{{ project.title }}</a></li> -->
                                        <div class="card mb-3" style="max-width: 540px;">
                                            <div class="row g-0">
                                              <div class="col-md-4">
                                                {%if popular_project_images|get_item:project %}
                                                    {% for img in popular_project_images|get_item:project  %}
                                                        <img class="img-fluid rounded-start"  src="{{ MEDIA_URL }}{{ img.image}}" alt="Card image"/>
                                                    
                                                    {% endfor%}
                                                {% else %}
                                                <img src="..." class="img-fluid rounded-start" alt="...">
                                                {%endif%}
                                              </div>
                                              <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title">
                                                        
                                                        <a class="item" href="{% url 'conceptio:view_project_by_id' project.project_id %}">{{ project.title }}</a>
                                                        
                                                    </h5>
                                                  
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        
                                    {% endfor %}
                                </p>
                            {% else %}
                                <strong>There are no popular projects present.</strong>
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h2>New Additions</h2>
                        <p class="card-text">
                            <ul class="list-group">
                            {% if new %}                                    
                                    {% for project in new %}
                                        <div class="card mb-3" style="max-width: 540px;">
                                            <div class="row g-0">
                                            <div class="col-md-4">
                                                {%if new_project_images|get_item:project %}
                                                    {% for img in popular_project_images|get_item:project  %}
                                                        <img class="img-fluid rounded-start"  src="{{ MEDIA_URL }}{{ img.image}}" alt="Card image"/>
                                                    
                                                    {% endfor%}
                                                {% else %}
                                                <img src="..." class="img-fluid rounded-start" alt="...">
                                                {%endif%}
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h5 class="card-title">
                                                        
                                                        <a class="item" href="{% url 'conceptio:view_project_by_id' project.project_id %}">{{ project.title }}</a>
                                                        
                                                    </h5>
                                                
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                            {% else %}
                            <ul>
                                <strong>There are no new additions present.</strong>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}