{% extends 'conceptio/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Concept.io
{% endblock %}

{% block body_block %}

       
        <div class="container w-25 border border-primary rounded mt-3 p-5">
            <h1> Login </h1>
            <form class="form-signin" role="form" id="login_form" method="post">
                {% csrf_token %}
                <label for="inputUsername" class="sr-only m-2">Username</label>
                <input type="text" name="username" value="" class="form-control m-2" placeholder="Username" required autofocus/>
                <label for="inputPassword" class="sr-only m-2">Password</label>
                <input type="password" name="password" value="" class="form-control m-2" placeholder="Password" required />
                <div class="row mt-5">
                    <div class="col-md-4">
                <button class="btn btn-primary btn-block" type="submit" value="submit" />Log In</button>
                    </div>
                <div class="col-md-4">
                <a class="btn btn-primary btn-block" href="{% url 'conceptio:register'%}">Register</a>
                </div>
                </div>
            </form>
        </div>

{% endblock %}