
{% include 'conceptio/base.html' %}

{% load static %}

{% block body_block %}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-">

</head>

<body>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for project in projects %}
                <div class="col">
                    <div class="card h-100">
                        {%if project_images|get_item:project %}
                            {% for img in project_images|get_item:project  %}
                                <img class="card-img-top " style="height: 250px;" src="{{ MEDIA_URL }}{{ img.image}}" alt="Card image"/>
                                <!-- <img class="card-img-top"  alt="Card image"/> -->
                            {% endfor%}
                        {% else %}
                            <img class="card-img-top"  alt="Card image"/>
                        {%endif%}
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'conceptio:view_project_by_id' project.project_id %}">{{ project.title }}</a><br />
                            </h5>
                            <p class="card-text">{{project.desc}}</p>
                            <a href="{% url 'conceptio:edit_project' project.project_id %}"> Edit</a><br/>
                        </div>
                    </div>
                </div>
            {% endfor %}
        
        </div>
          
    </div>
</body>
{% endblock %}
