{% extends 'conceptio/base.html' %}

{% load staticfiles %}

{% block body_block %}

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-"

    </head>




 <center>

    <h1>{{user.username}}'s Projects</h1>
    <div class="container mt-5">
        <div class="col-md-2">
            {% for c in projects %}
                <div class="row-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <a class="card-title" href="{% url 'conceptio:view_project_by_id' c.project_id %}">{{ c.title }}</strong></li></a>
                        </br></br>
                            <a class="btn btn-primary" href="{% url 'conceptio:edit_project' c.project_id %}">Edit</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


 </center>

{% endblock %}
