{% extends 'conceptio/base.html' %}

{% load staticfiles %}

{% block body_block %}

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-"

    </head>

    <body>

        <div class="form-group">
      <ul>
 <center>
      <h1>My Projects</h1>
    {% for c in projects %}

    <a href="{% url 'conceptio:view_project_by_id' c.project_id %}">{{ c.title }}</strong></li></a>    -    <a href="{% url 'conceptio:edit_project' c.project_id %}"> Edit</a><br/>

    {% endfor %}


 </center>
</ul>
</div>
    </body>
{% endblock %}
