<!DOCTYPE html>
<html lang="en">
{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Concept.io
{% endblock %}

{% block body_block %}
    <h1>Design of the Day</h1>
    <div>
        {% if dotd %}
            <ul>
                {% for page in dotd %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
    </div>
    <h2>Popular Additions</h2>
    <div>
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no pages present.</strong>
        {% endif %}
    </div>


    <h2>New Additions</h2>


{% endblock %}
</html>