{% extends Concept.io/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
<h1>Register for Concept.io</h1>
{% if registered %}
Rango says: <strong>thank you for registering!</strong>
<a href="{% url 'Concept.io:index' %}">Return to the homepage.</a><br />
{% else %}
  <strong>register here!</strong><br />
<form id="user_form" method="post" action="{% url 'Concept.io:register' %}" enctype="multipart/form-data">

    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }} 


    <input type="submit" name="submit" value="Register" />
</form>
{% endif %}
{% endblock %}	